<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://team1project.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>team1project.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Team1Project</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Team1Project</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="inetConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=th6r4kw8lc.database.windows.net;Initial Catalog=inet;Persist Security Info=True;User ID=inetu@th6r4kw8lc;Password=DBinet$13" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=th6r4kw8lc.database.windows.net;Initial Catalog=inet;Persist Security Info=True;User ID=inetu@th6r4kw8lc;Password=DBinet$13" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\inetConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=th6r4kw8lc.database.windows.net;Initial Catalog=inet;Persist Security Info=True;User ID=inetu@th6r4kw8lc;Password=DBinet$13" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)inetConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=th6r4kw8lc.database.windows.net;Initial Catalog=inet;Persist Security Info=True;User ID=inetu@th6r4kw8lc;Password=DBinet$13</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>